*{
    -fx-font-family:"FontAwesome";
    -fx-font-size: 12px;
}

.button{
    -fx-background-color: #E5E5E5;
}

.button:hover{
    -fx-background-color: rgba(130, 191, 158, 0.59);
}

.combo-box{
    -fx-pref-height: 28;
}

.combo-box:hover{
    -fx-background-color: rgba(22, 45, 58, 0.59);
}

#logTextArea{
    -fx-text-fill: #000dff;
    -fx-font-size: 12;
}



