#sourceConfigView{
    -fx-cursor: pointer;
}

#generateField{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(85, 162, 85);
    -fx-pref-width: 90;
    -fx-pref-height: 8;
    -fx-text-fill: WHITE;
}

#saveConfigField{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: #E5E5E5;
    -fx-pref-width: 90;
    -fx-pref-height: 8;
    -fx-text-fill: BLACK;
}

#clearMainConfigField{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: #E5E5E5;
    -fx-pref-width: 90;
    -fx-pref-height: 8;
    -fx-text-fill: BLACK;
}

#generateField:hover{
     -fx-background-color: rgba(107, 146, 191, 0.59);
}

#saveConfigField:hover{
    -fx-background-color: rgba(107, 146, 191, 0.59);
}

#clearMainConfigField:hover{
    -fx-background-color: rgba(107, 146, 191, 0.59);
}

#folderField{
    -fx-background-color: #E5E5E5;
}

#folderField:hover{
    -fx-background-color: rgba(130, 191, 158, 0.59);
}

#annotationHelpField{
    -fx-background-color: #E5E5E5;
}

#annotationHelpField:hover{
    -fx-background-color: rgba(130, 191, 158, 0.59);
}

#tableListView{
    -fx-background-color:WHITE;
}